body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
}

header {
  background-color: #000;
  margin: 70px auto 30px;
  color: #fff;
  width: fit-content;
  padding: 1px 23px;
  box-shadow: #16161d -1px 1px, white -2px 2px, white -3px 3px, white -4px 4px, #16161d -5px 5px, #16161d -6px 6px, #16161d -7px 7px, #16161d -8px 8px;
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

legend {
  background-color: #16161d;
  color: #fff;
  padding: 8px 16px;
}

.number-input {
  max-width: 55px;
  margin: 4px 0;

}

fieldset {
  margin: 20px;
}

li {
  list-style-position: inside;
  margin-bottom: 0.4em;
}

p {
  margin: 0.2em 0;
}

.work-size,
.tasks,
.totals {
  color: #403e10;
  font-weight: bold;
  box-shadow: #16161d -1px 1px, #16161d -2px 2px, #16161d -3px 3px, #16161d -4px 4px, #16161d -5px 5px, #16161d -6px 6px,
    #16161d -7px 7px, #16161d -8px 8px;
}
